label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.social-container {
  background:  #eee;
  padding: 20px 20px;
  text-align: center;
  margin-top: 50px;
  
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.facebook {
  color: #4968ad;
}
a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

.footer-copyright {
  background: aqua;
 margin-top: 20px;
  text-align: center;

 
 
  
}

.cp-container {
  background: #eee;
  
  text-align: center;
  margin-top: 40px;
  
}

.lf-container {
  background: #eee;
  padding-bottom:30px 60px;
  text-align: center;
  
}

.fp-container {
 
  text-align: center;
  margin-top: 40px;
  
}

.citizen-cotainer {
  background: #eee;
  
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  
}

.vc-container {
  background: #eee;
  
  text-align: center;
  margin-top: 40px;
  
}